.selected {
    background-color: lightblue;
    color: white;
}
.goodsTop{display: flex; width: 100%; height: 91.5vh; overflow: hidden; margin:0 auto; justify-content: space-between;}
.goodsImg{width: 40%; position: relative; text-align: center;}
.goodsImg img {width:100%; height: 100%;}
#goodsName{font-size: 20px; padding:10px 20px; display: inline-block;}
#selectOption input{border: none; background:none;}
.goodsInfoWrap{flex:0.98; text-align: left; position: relative;}
.fixedInfo{position: absolute; bottom: 0; left:20px; width: 97%; list-style: none;}
.fixedOption{position: absolute; top:0; right: 0;}
.stocks{width: 30px;}
.goodsInfoArea{}
.goodsInfoWrap .goodsInfo{}
.goodsInfoWrap .goodsInfo table{display: inline-block;padding:10px 20px;}
.goodsInfoWrap .goodsInfo tr{}
.goodsInfoWrap .goodsInfo td{padding:7px 0 ;}
.goodsInfoWrap .goodsInfo td:nth-child(2){padding:5px 20px ;}
.goodsInfoWrap .goodsOptionBox{display: inline-block;  margin-left: 5%; vertical-align: top;}
.goodsInfoWrap .goodsOptionBox button{padding:3px 10px; background: none; color: black; border:none;}
.goodsInfoWrap .goodsOptionBox .selected{color:white; background-color: black;}
.goodsInfoWrap .goodsOptionBox .dis{color:rgb(191, 191, 191); border: none;}

.goodsInfoWrap .goodsOptionBox table{}
.goodsInfoWrap .goodsOptionBox table tr{}
.goodsInfoWrap .goodsOptionBox table td{padding:5px 0;}
.goodsInfoWrap .goodsOptionBox table td:nth-child(2){padding:5px 20px;}
.goodsInfoWrap .detailArea {position: relative; width: 97%; padding: 0 20px; margin-top:10px; height: 80%; overflow-y: auto;}
.goodsInfoWrap .detailArea ul {width: 100%;}
.goodsInfoWrap .detailArea ul img{max-width: 100%;}
.buyButton{display: flex; width:100%; justify-content: space-evenly; margin:-2px 0;}
.buyButton button{width: 100%;}
.buyButton a{font-weight: 600; width: 100%; background-color: black; color: white; text-align: center; text-decoration: none; line-height: 40px;}
.buyButton button{background:black; border:none; border-right: 1px solid white; color: white; height: 40px; font-size: 17px; font-weight: 800; padding: 0 10px; border-radius: 0;}
.sop p{display: inline-block; margin-right: 20px; font-size: 14px!important;}
.optionOpen{width: 60px; margin: -2px auto;}
.optionOpen img{width: 100%;}
.x{background:none; color: black; font-weight: 600; margin-left:10px; border-radius: 3px;     padding: 3px 7px; border:none;}
