<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
>
<head>
    <meta charset="UTF-8">
</head>
<div layout:fragment="content">
   <link rel="stylesheet" type="text/css" href="/order/css/orderForm.css">   
    <div class="container">
    <h2 class="title">주문하기</h2>
        <h2 th:object="${order}">
         <div style="font-size: 20px; font-weight: 600; margin:30px 0">구매자 정보</div>
         <hr>
            <ul class="orderInfo">
            <li><span id="memberName" th:name="*{member.idx}" th:text="*{member.name}"></span></li>
            <li><span id="memberPhone" th:text="*{member.phone}"></span></li>
                <li><span id="memberEmail" th:text="*{member.email}"></span></li>
                
                <li th:if="${order.member.postcode ne null}">
               <label>주소</label>
               <span th:text="*{member.postaddress}"></span>
               <span th:text="*{member.detailaddress}"></span>
               <button th:if="*{member.postaddress==''}" id="modifyBtn" class="" onclick="createAddress()">주소 등록</button>
               <button th:unless="*{member.postaddress==''}" id="modifyBtn" class="" onclick="modifyAddress()">배송지 변경</button>
            </li>
   
            <li class="postAddressM">
               <div th:replace="~{/mypage/address :: address}"></div>
            </li>                                
            </ul>
         <hr>
         <div style="font-size: 20px; font-weight: 600; margin:30px 0; margin-top: 50px;">주문 정보</div>
         <hr>                  
            <table>
            <tr class="tableTr">
                <td>이미지</td>
                <td>상품정보</td>
                <td>수량</td>
                <td>상품가격</td>
            </tr>
             <div th:each="cartItem, stat:*{cartItemDtos}">          
                   <tr th:each="goods : ${cartItem.goodsDto}" style="border-top: none;">
                       <td style="width: 80px;">
                           <ul >
                               <li>
                                   <img th:src="@{|${goods.fileDtos[0].path}|}" alt="Goods Image" width="100%;">
                               </li>
                           </ul>
                       </td>
                       <td class="goodsInfo" style="text-align: left; padding:0 30px;">
                           <a th:href="@{|/goods/detail/${goods.idx}|}" th:text="${goods.name}"  th:id="'product_' + ${stat.index}"></a><br><br>
                     <input type="hidden" th:value="${cartItem.idx}" class="products" >
                           <span th:text="${cartItem.color}"></span>&nbsp&#47
                           <span th:text="${cartItem.size}"></span>
                       </td>
                       <td><span th:text="${cartItem.cnt}"/></td>
                       <td> <span class="itemPrices" th:text="${goods.sellingPrice*cartItem.cnt}"></span>원</td>
                       
                   </tr>
             </div>
             
        </table>
            <div style="padding:20px 0; text-align: left;">
            사용가능 적립금 <span id="myPoint" th:text="*{member.point}" style="font-size: 17px; font-weight: 800;"></span>원<br>
                <div style="padding:5px 0">적립금 <input type="number" id="usePointInput">
                <button type="button" onclick="usePoint()">사용</button>
                </div>
                <span>상품</span> <span id="totalAmount" style="font-size: 17px; font-weight: 800;"></span>원 + <span>배송비</span> <span id="delivery" style="font-size: 17px; font-weight: 800;"></span>원 + <span>할인금액</span> <span id="discount" style="font-size: 17px; font-weight: 800;">0</span>원
            </div>
            <div style="text-align: right;"><span style="font-size: 20px;">최종결제금액</span> <span id="finalPrice" style="font-size: 20px; font-weight: 800;"></span><span style="font-size: 20px;">원</span></div>             
            <hr>
            <div style="text-align: right;">
                <button id="payment">구매하기</button>
              <button onclick="test()">테스트</button>
            </div>
        </div>


    <!-- 포트원 결제 -->
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <!-- 포트원 결제 -->
    <script src="/order/js/payment.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" th:src="@{/mypage/js/myList.js}"></script>   
    <script type="text/javascript" th:src="@{/member/js/join.js}"></script>         
    <script type="text/javascript" th:src="@{/order/js/order.js}"></script>
</div>

</html>